.DropdownBlock_color_pale:after {
	width: 9px;

	/* Could use injected svg and change svg path color, but icons are different */

	background-image: url("./dropdown_icon_pale.svg");

	content: " ";
}
