{
  "extends": [
		"stylelint-config-recommended",
		"stylelint-config-airbnb",
    "stylelint-prettier/recommended",
    "stylelint-config-rational-order"
	],
	"plugins": [
    "stylelint-scss"
  ],
	"rules": {
    "prettier/prettier": true,
		"order/properties-order": [],
    "plugin/rational-order": [true, {
      "border-in-box-model": false,
      "empty-line-between-groups": true,
    }],
		"selector-max-id": 1
  }
}
