.DropdownBlock {
	position: relative;

	display: flex;
	height: 100%;

	cursor: pointer;
}

.DropdownBlock:after {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12px;
	height: 12px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 6px;

	background-image: url("./dropdown_icon.svg");
	background-repeat: no-repeat;
	background-position: center center;

	/* transform-origin: 50% 65%; */

	transition: all 0.2s ease-out;

	content: " ";
}

.DropdownBlock:hover .Text {
	color: var(--link-text-color-hovered);
}

@media screen and (max-width: 640px) {
	.DropdownBlock {
		position: static;
	}
}
