.CodeBlock-BlobNum {
	min-width: 39px;
	padding-right: 32px;

	color: #999999;
	white-space: nowrap;
	text-align: right;
	vertical-align: top;

	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.CodeBlock-BlobNum:hover {
	color: var(--accent-bg-color);
}

.CodeBlock-BlobNum:not(.CodeBlock-BlobNum_blank):before {
	content: counter(blob_line_number);
	counter-increment: blob_line_number;

	/* content: attr(data-line-number); */
}

@media screen and (max-width: 640px) {
	.CodeBlock-BlobNum {
		min-width: 31px;
		padding-right: 12px;
	}
}
