@import "./Container/_border/Layout-Container_border_b.css";
@import "./Container/_border/Layout-Container_border_t.css";
@import "./Container/_space-h/Layout-Container_space-h_xxl.css";
@import "./Container/_space-h/Layout-Container_space-h_l.css";
@import "./Container/_expand/Layout-Container_expand.css";

.Layout {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
