@import "./_border/CodeContainer_border_all.css";
@import "./Header/CodeContainer-Header.css";
@import "./DownloadIcon/CodeContainer-DownloadIcon.css";
@import "./FileIcon/CodeContainer-FileIcon.css";
@import "./FileInfo/CodeContainer-FileInfo.css";
@import "./BytesSpan/CodeContainer-BytesSpan.css";
@import "./CodeBlockContainer/CodeContainer-CodeBlockContainer.css";
@import "./CodeBlockContainer/_space/CodeContainer-CodeBlockContainer_space_xl.css";

.CodeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;

  line-height: 20px;
}
