.DropdownBlock-Menu {
	position: absolute;
	top: 100%;
	z-index: 1;

	min-width: 266px;
	margin: 0;

	padding: 4px 0 12px;

	list-style: none;
	background-color: var(--default-bg-color);
	box-shadow: 0 4px 16px rgba(53, 73, 93, 0.2);
	transform: scaleX(0) scaleY(0);
	transform-origin: 0 0;
	opacity: 0;

	transition: all 0.2s ease-out;

	pointer-events: none;
}

@media screen and (max-width: 640px) {
	.DropdownBlock-Menu {
		position: fixed;
		top: initial;
		bottom: 0px;
		left: 0;

		width: 100%;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		transform: translateY(100%);
	}
}
