.DropdownBlock-MenuHandle {
	display: none;
	align-items: center;
	justify-content: center;
	height: 24px;
}

@media screen and (max-width: 640px) {
	.DropdownBlock-MenuHandle {
		display: flex;
	}
}
